@page "/employees"
@inherits EmployeesBase

<h1>Employees</h1>
<br />
<button class="btn btn-primary" @onclick="ShowPopup">Add employee</button>
<br />
<br />
@if (showPopup)
{
  <div class="modal" tabindex="-1" style="display: block; background-color: rgba(176, 176, 176, 0.4); ">
    <div class="modal-dialog">
      <div class="modal-content shadow-lg p-3 mb-5 bg-white rounded" draggable="true"
     @ondragend="OnDragEnd" @ondragstart="OnDragStart"
     style="position:absolute; top: @(offsetY)px; left: @(offsetX)px;">
        <div class="modal-header">
          <h5 class="modal-title">Add new record</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="ClosePopup">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <EditForm Model="employees" OnValidSubmit="SubmitForm">
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="employee-name" class="col-form-label">Employee name:</label>
                <input type="text" class="form-control" placeholder="Enter Employee Name.." @bind="employee.Name" />
              </div>
              <div class="mb-3">
                <label for="department-text" class="col-form-label">Department:</label>
                <input type="text" class="form-control" placeholder="Enter Department.." @bind="employee.Department" />
              </div>
              <div class="mb-3">
                <label for="salary-text" class="col-form-label">Salary:</label>
                <input type="text" class="form-control" placeholder="Enter Salary.." @bind="employee.Salary" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="ClosePopup">Cancel</button>
            <button type="submit" class="btn btn-primary" @onclick="ClosePopup">Save changes</button>
          </div>
        </EditForm>
      </div>
    </div>
  </div>
}
<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td>Department</td>
      <td>Salary</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    @foreach (var employee in employees)
    {
      <tr>
        <td>@employee.Id</td>
        <td>@employee.Name</td>
        <td>@employee.Department</td>
        <td>@employee.Salary</td>
        <td><button class="btn btn-info" @onclick="@(e => EditRecord(employee.Id))">Edit</button></td>
        <td><button class="btn btn-danger" @onclick="@(e => OnDelete(employee.Id))">Delete</button></td>
      </tr>
    }
  </tbody>
</table>